body {
   margin: 0 auto;
   padding: 0;
   display: flex;
   align-items: center;
   text-align: center;
   justify-content: center;
   height: 100vh;
   font-size: 50px;
   line-height: 25px;
   overflow: hidden;
   // background-image: url("../img/02.jpg");
   background-repeat: no-repeat;
   background-size: cover;

   .wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      .container {
         width: 1200px;
         height: 800px;
         border: 2px solid black;
         position: relative;



         // .block {
         //    position: absolute;
         //    left: 0px;
         //    top: 0px;
         //    bottom: 0px;
         //    right: 0px;
         //    width: 100px;
         //    height: 100px;
         //    text-align: center;
         //    align-items: center;
         //    display: flex;
         //    justify-content: center;
         //    font-size: 26px;
         //    border-radius: 50%;
         //    border: 1px solid black;
         //    background-image: url("../img/03.jpg");
         //    background-repeat: no-repeat;
         //    background-size: cover;

         //    background: rgb(2, 0, 36);
         //    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(95, 163, 182, 1) 62%, rgba(0, 212, 255, 1) 100%);
         // }

      }
   }

}

.contdog {
   width: 100%;
   height: 100%;
   position: relative;

   .containerblock12 {
      position: absolute;
      top: 50px;
      left: 50px;
      width: 200px;
      height: 200px;
      border: 1px solid black;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      background-image: url(../img/03.jpg);
      background-size: cover;
      background-repeat: no-repeat;

      .block1 {
         border: 1px solid rgb(4, 126, 241);
         width: 100%;
         height: 100px;
         display: flex;

         .block1-1 {
            width: 100px;
            height: 100%;
            border: 2px solid rgb(160, 117, 10);
         }

         .block1-2 {
            width: 100px;
            height: 100%;
            border: 2px solid rgb(143, 192, 7);

         }

      }

      .block2 {
         border: 1px solid rgb(12, 242, 0);
         width: 100%;
         height: 100px;
         display: flex;

         .block2-1 {
            width: 100px;
            height: 100%;
            border: 2px solid rgb(243, 32, 0);
         }

         .block2-2 {
            width: 100px;
            height: 100%;
            border: 2px solid rgb(128, 1, 113);
         }
      }
   }
}

.button {
   width: 100px;
   height: 60px;
   font-size: 24px;
}